<footer class="main-footer style-two">
		<div class="patern-icon" style="background-image: url(images/images/icons/icon-4.png)"></div>
    	<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
					
					<!-- Footer Column -->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget logo-widget">
							<div class="logo">
								<a href="index.html"><img src="https://via.placeholder.com/130x60" alt="" /></a>
							</div>
							<div class="text">Vim novum tritaniys scribentur varety per culy dicat copiosae reprimique teim laborey fabulas scriptorem.</div>
							<!--Social Links-->
							<ul class="social-links clearfix">
								<li><a href="#"><span class="fa fa-twitter"></span></a></li>
								<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
								<li><a href="#"><span class="fa fa-instagram"></span></a></li>
								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
								<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
								<li><a href="#"><span class="fa fa-skype"></span></a></li>
							</ul>
							<div class="copyright">- GAZEK © 2020 -</div>
						</div>
					</div>
					
					<!-- Footer Column -->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget links-widget">
							<div class="footer-title">
								<h4>Site Links</h4>
							</div>
							<div class="row clearfix">
								<div class="column col-lg-6 col-md-6 col-xs-12">
									<ul>
										<li><a href="#">Home Page</a></li>
										<li><a href="#">About Us</a></li>
										<li><a href="#">Latest News</a></li>
										<li><a href="#">Recent Projects</a></li>
									</ul>
								</div>
								<div class="column col-lg-6 col-md-6 col-xs-12">
									<ul>
										<li><a href="#">Our Services</a></li>
										<li><a href="#">Partners Team</a></li>
										<li><a href="#">Testimonials</a></li>
										<li><a href="#">Contact Support</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					
					<!--Footer Column-->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget gallery-widget">
							<div class="footer-title">
								<h4>Recent Projects</h4>
							</div>
							<div class="widget-content">
								<div class="images-outer clearfix">
									<!--Image Box-->
									<figure class="image-box"><a href="https://via.placeholder.com/570x400" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="https://via.placeholder.com/570x400" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="https://via.placeholder.com/570x400" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="https://via.placeholder.com/570x400" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="https://via.placeholder.com/570x400" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="https://via.placeholder.com/570x400" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="https://via.placeholder.com/570x400" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
									<!--Image Box-->
									<figure class="image-box"><a href="https://via.placeholder.com/570x400" class="lightbox-image" data-fancybox="footer-gallery" title="Image Title Here" data-fancybox-group="footer-gallery"><img src="https://via.placeholder.com/80x80" alt=""></a></figure>
								</div>
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</footer>