<section class="hidden-bar left-align">
    <div class="color-layer"></div>
    <div class="hidden-bar-closer">
        <button>
            <span class="flaticon-multiply"></span></button>
    </div>
    <div class="logo">
        <a href="index.html"><img src="https://via.placeholder.com/130x60" alt=""/></a>
    </div>
    <!-- Hidden Bar Wrapper -->
    <div class="hidden-bar-wrapper">
        <!-- .Side-menu -->
        <div class="side-menu">
            <ul class="navigation clearfix">
                <li class="{{current_home}} dropdown">
                    <a href="#">Home</a>
                    <ul>
                        <li>
                            <a href="index.html">Home Page 01</a>
                        </li>
                        <li>
                            <a href="index-2.html">Home Page 02</a>
                        </li>
                        <li>
                            <a href="index-3.html">Home Page 03</a>
                        </li>
                        <li class="dropdown">
                            <a href="#">Header Styles</a>
                            <ul>
                                <li>
                                    <a href="index.html">Header Style 01</a>
                                </li>
                                <li>
                                    <a href="index-2.html">Header Style 02</a>
                                </li>
                                <li>
                                    <a href="index-3.html">Header Style 03</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Portfolio</a>
                </li>
                <li class="{{current_news}} dropdown">
                    <a href="#">News</a>
                    <ul>
                        <li>
                            <a href="blog.html">Our Blog</a>
                        </li>
                        <li>
                            <a href="blog-classic.html">Blog Classic</a>
                        </li>
                        <li>
                            <a href="blog-single.html">Blog Single</a>
                        </li>
                    </ul>
                </li>
                <li class="{{current_contact}}">
                    <a href="contact.html">Contact us</a>
                </li>
            </ul>
        </div>
        <!-- /.Side-menu -->

        <!--Social Links-->
        <ul class="social-links clearfix">
            <li>
                <a href="#">
                    <span class="fa fa-facebook-f"></span></a>
            </li>
            <li>
                <a href="#">
                    <span class="fa fa-twitter"></span></a>
            </li>
            <li>
                <a href="#">
                    <span class="fa fa-google-plus"></span></a>
            </li>
            <li>
                <a href="#">
                    <span class="fa fa-linkedin"></span></a>
            </li>
            <li>
                <a href="#">
                    <span class="fa fa-pinterest"></span></a>
            </li>
            <li>
                <a href="#">
                    <span class="fa fa-instagram"></span></a>
            </li>
        </ul>
    </div>

    <!--Copyright Text-->
    <div class="copyright-text">Copyright &copy; 2020 Gazek</div>
</section>