<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Gazek HTML-5 Template | Our Blog</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link rel="stylesheet" href="css/all.css">
<link id="theme-color-file" href="tema/default-theme.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="images/images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/images/favicon.png" type="image/x-icon">

</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
 	<!-- Main Header-->
	{% set current_news="current" %}
	{% include "../header.njk" %}
    <!-- End Main Header -->
	
	<!-- Hidden Navigation Bar -->
	{% include "../hidden_navbar.njk" %}
	
	<!--Page Title-->
    <section class="page-title" style="background-image:url(https://via.placeholder.com/1920x1164)">
    	<div class="auto-container">
			<h1>News & Articles</h1>
			<ul class="page-breadcrumb">
				<li><a href="index.html">home</a></li>
				<li>News Articles</li>
			</ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- News Page Section -->
    <section class="news-page-section">
		<div class="auto-container">
            <div class="row clearfix">
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-single.html"><img src="https://via.placeholder.com/360x280" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><span class="icon fa fa-calendar"></span> March 15, 2020</li>
								<li><span class="icon fa fa-comment-o"></span> 187</li>
							</ul>
							<h5><a href="blog-single.html">Streamline Your Projects With Our Easy Solutions</a></h5>
							<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys. Sed ut perspiciatis unde om accusantium dolor que totams.</div>
							<a href="blog-single.html" class="theme-btn btn-style-four"><span class="txt">Read More</span></a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-single.html"><img src="https://via.placeholder.com/360x280" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><span class="icon fa fa-calendar"></span> March 15, 2020</li>
								<li><span class="icon fa fa-comment-o"></span> 187</li>
							</ul>
							<h5><a href="blog-single.html">Why We Are Top of The Heap Digital Agency In Town</a></h5>
							<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys. Sed ut perspiciatis unde om accusantium dolor que totams.</div>
							<a href="blog-single.html" class="theme-btn btn-style-four"><span class="txt">Read More</span></a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-single.html"><img src="https://via.placeholder.com/360x280" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><span class="icon fa fa-calendar"></span> March 15, 2020</li>
								<li><span class="icon fa fa-comment-o"></span> 187</li>
							</ul>
							<h5><a href="blog-single.html">Streamline Your Projects With Our Easy Solutions</a></h5>
							<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys. Sed ut perspiciatis unde om accusantium dolor que totams.</div>
							<a href="blog-single.html" class="theme-btn btn-style-four"><span class="txt">Read More</span></a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-single.html"><img src="https://via.placeholder.com/360x280" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><span class="icon fa fa-calendar"></span> March 15, 2020</li>
								<li><span class="icon fa fa-comment-o"></span> 187</li>
							</ul>
							<h5><a href="blog-single.html">Streamline Your Projects With Our Easy Solutions</a></h5>
							<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys. Sed ut perspiciatis unde om accusantium dolor que totams.</div>
							<a href="blog-single.html" class="theme-btn btn-style-four"><span class="txt">Read More</span></a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-single.html"><img src="https://via.placeholder.com/360x280" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><span class="icon fa fa-calendar"></span> March 15, 2020</li>
								<li><span class="icon fa fa-comment-o"></span> 187</li>
							</ul>
							<h5><a href="blog-single.html">Why We Are Top of The Heap Digital Agency In Town</a></h5>
							<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys. Sed ut perspiciatis unde om accusantium dolor que totams.</div>
							<a href="blog-single.html" class="theme-btn btn-style-four"><span class="txt">Read More</span></a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-single.html"><img src="https://via.placeholder.com/360x280" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><span class="icon fa fa-calendar"></span> March 15, 2020</li>
								<li><span class="icon fa fa-comment-o"></span> 187</li>
							</ul>
							<h5><a href="blog-single.html">Streamline Your Projects With Our Easy Solutions</a></h5>
							<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys. Sed ut perspiciatis unde om accusantium dolor que totams.</div>
							<a href="blog-single.html" class="theme-btn btn-style-four"><span class="txt">Read More</span></a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-single.html"><img src="https://via.placeholder.com/360x280" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><span class="icon fa fa-calendar"></span> March 15, 2020</li>
								<li><span class="icon fa fa-comment-o"></span> 187</li>
							</ul>
							<h5><a href="blog-single.html">Streamline Your Projects With Our Easy Solutions</a></h5>
							<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys. Sed ut perspiciatis unde om accusantium dolor que totams.</div>
							<a href="blog-single.html" class="theme-btn btn-style-four"><span class="txt">Read More</span></a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-single.html"><img src="https://via.placeholder.com/360x280" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><span class="icon fa fa-calendar"></span> March 15, 2020</li>
								<li><span class="icon fa fa-comment-o"></span> 187</li>
							</ul>
							<h5><a href="blog-single.html">Why We Are Top of The Heap Digital Agency In Town</a></h5>
							<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys. Sed ut perspiciatis unde om accusantium dolor que totams.</div>
							<a href="blog-single.html" class="theme-btn btn-style-four"><span class="txt">Read More</span></a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-single.html"><img src="https://via.placeholder.com/360x280" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><span class="icon fa fa-calendar"></span> March 15, 2020</li>
								<li><span class="icon fa fa-comment-o"></span> 187</li>
							</ul>
							<h5><a href="blog-single.html">Streamline Your Projects With Our Easy Solutions</a></h5>
							<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys. Sed ut perspiciatis unde om accusantium dolor que totams.</div>
							<a href="blog-single.html" class="theme-btn btn-style-four"><span class="txt">Read More</span></a>
						</div>
					</div>
				</div>
				
			</div>
			
			<!-- Post Share Options -->
			<div class="styled-pagination text-center">
				<ul class="clearfix">
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
				</ul>
			</div>
			
		</div>
	</section>
	<!-- End Banner Section Two -->
	
	<!-- Main Footer -->
	{% include "../footer.njk" %}
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="./tema/default-theme.css"></span>
            <span class="palate green-color" data-theme-file="./tema/green-theme.css"></span>
            <span class="palate blue-color" data-theme-file="./tema/blue-theme.css"></span>
            <span class="palate orange-color" data-theme-file="./tema/orange-theme.css"></span>
            <span class="palate purple-color" data-theme-file="./tema/purple-theme.css"></span>
            <span class="palate teal-color" data-theme-file="./tema/teal-theme.css"></span>
            <span class="palate brown-color" data-theme-file="./tema/brown-theme.css"></span>
            <span class="palate redd-color" data-theme-file="./tema/redd-color.css"></span>
        </div>
    </div>
	
    <a href="#" class="purchase-btn">Purchase now $17</a>
    
    <div class="palate-foo">
        <span>You will find much more options for colors and styling in admin panel. This color picker is used only for demonstation purposes.</span>
    </div>

</div>

<script type="text/javascript" src="js/script.js"></script>

</body>
</html>