<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Gazek HTML-5 Template | Blog Classic</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link rel="stylesheet" href="css/all.css">
<link id="theme-color-file" href="tema/default-theme.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="images/images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/images/favicon.png" type="image/x-icon">

</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
 	<!-- Main Header-->
	{% set current_news="current" %}
	{% include "../header.njk" %}
    <!-- End Main Header -->
	
	<!-- Hidden Navigation Bar -->
	{% include "../hidden_navbar.njk" %}
    
	<!--Page Title-->
    <section class="page-title" style="background-image:url(https://via.placeholder.com/1920x1164)">
    	<div class="auto-container">
			<h1>News & Articles</h1>
			<ul class="page-breadcrumb">
				<li><a href="index.html">home</a></li>
				<li>News Articles</li>
			</ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!--Sidebar Page Container-->
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
				
				<!-- Content Side -->
                <div class="content-side col-lg-9 col-md-12 col-sm-12">
                	<div class="blog-classic padding-right">
						
						<!-- News Block -->
						<div class="news-block-two">
							<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="image">
									<a href="blog-single.html"><img src="https://via.placeholder.com/800x450" alt="" /></a>
								</div>
								<div class="lower-content">
									<ul class="post-meta">
										<li><span class="icon fa fa-calendar"></span> March 15, 2020</li>
										<li><span class="icon fa fa-comment-o"></span> Comments 187</li>
										<li><span class="icon fa fa-folder-open-o"></span> Photography</li>
									</ul>
									<h3><a href="blog-single.html">Streamline Your Projects With Solutions</a></h3>
									<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys. Sed ut perspiciatis unde om accusan tium dolor que totams mollit anim id est laborum. Sed ut perspiciatis und omnis iste natus error sit voluptatem sed accusantium doloremque laudantium totam rem aperiam eaque ipsa.</div>
									<a href="blog-single.html" class="theme-btn btn-style-four"><span class="txt">Read More</span></a>
								</div>
							</div>
						</div>
						
						<!-- News Block -->
						<div class="news-block-two">
							<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="image">
									<img src="https://via.placeholder.com/800x450" alt="" />
									<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image overlay-box"><span class="icon flaticon-play-arrow"><i class="ripple"></i></span></a>
								</div>
								<div class="lower-content">
									<ul class="post-meta">
										<li><span class="icon fa fa-calendar"></span> March 15, 2020</li>
										<li><span class="icon fa fa-comment-o"></span> Comments 187</li>
										<li><span class="icon fa fa-folder-open-o"></span> Photography</li>
									</ul>
									<h3><a href="blog-single.html">Why We Are Top Of Heap Digital Agency</a></h3>
									<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys. Sed ut perspiciatis unde om accusan tium dolor que totams mollit anim id est laborum. Sed ut perspiciatis und omnis iste natus error sit voluptatem sed accusantium doloremque laudantium totam rem aperiam eaque ipsa.</div>
									<a href="blog-single.html" class="theme-btn btn-style-four"><span class="txt">Read More</span></a>
								</div>
							</div>
						</div>
						
						<!-- Quote Box -->
						<div class="quote-box">
							<div class="inner-box">
								<div class="quote"><span class="quote-icon flaticon-quote-3"></span>We Convert Digital Brands Into The <br> Profitable Amazing Products</div>
								<div class="author">--- Mark J. Zamberg</div>
							</div>
						</div>
						
						<!-- News Block -->
						<div class="news-block-two">
							<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
								<div class="single-item-carousel owl-carousel owl-theme">
									<div class="image">
										<a href="blog-single.html"><img src="https://via.placeholder.com/800x450" alt="" /></a>
									</div>
									<div class="image">
										<a href="blog-single.html"><img src="https://via.placeholder.com/800x450" alt="" /></a>
									</div>
									<div class="image">
										<a href="blog-single.html"><img src="https://via.placeholder.com/800x450" alt="" /></a>
									</div>
								</div>
								<div class="lower-content">
									<ul class="post-meta">
										<li><span class="icon fa fa-calendar"></span> March 15, 2020</li>
										<li><span class="icon fa fa-comment-o"></span> Comments 187</li>
										<li><span class="icon fa fa-folder-open-o"></span> Photography</li>
									</ul>
									<h3><a href="blog-single.html">Streamline Your Projects With Solutions</a></h3>
									<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys. Sed ut perspiciatis unde om accusan tium dolor que totams mollit anim id est laborum. Sed ut perspiciatis und omnis iste natus error sit voluptatem sed accusantium doloremque laudantium totam rem aperiam eaque ipsa.</div>
									<a href="blog-single.html" class="theme-btn btn-style-four"><span class="txt">Read More</span></a>
								</div>
							</div>
						</div>
						
						<!-- Post Share Options -->
						<div class="styled-pagination text-center">
							<ul class="clearfix">
								<li><a href="#">1</a></li>
								<li class="active"><a href="#">2</a></li>
								<li><a href="#">3</a></li>
							</ul>
						</div>
						
					</div>
				</div>
				
				<!-- Sidebar Side -->
                <div class="sidebar-side col-lg-3 col-md-12 col-sm-12">
                	<aside class="sidebar sticky-top">
						
						<!-- Search -->
						<div class="sidebar-widget search-box">
							<form method="post" action="contact.html">
								<div class="form-group">
									<input type="search" name="search-field" value="" placeholder="keyword ..." required>
									<button type="submit"><span class="icon fa fa-search"></span></button>
								</div>
							</form>
						</div>
						
						<!-- Categories Widget -->
						<div class="sidebar-widget categories-widget">
							<!-- Sidebar Title -->
							<div class="sidebar-title">
								<h4>Categories</h4>
								<div class="separate"></div>
							</div>
							<div class="widget-content">
								<ul class="blog-cat">
									<li><a href="#">Photography</a></li>
									<li><a href="#">Development</a></li>
									<li><a href="#">Creativity</a></li>
									<li><a href="#">Freelancing</a></li>
									<li><a href="#">Web Design</a></li>
								</ul>
							</div>
						</div>
						
						<!-- Popular Post  -->
						<div class="sidebar-widget popular-posts">
							<!-- Sidebar Title -->
							<div class="sidebar-title">
								<h4>recent Posts</h4>
								<div class="separate"></div>
							</div>
							<div class="widget-content">
								<article class="post">
									<figure class="post-thumb"><img src="https://via.placeholder.com/70x70" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
									<div class="text"><a href="blog-single.html">There also firm amenty <br> to increase ROI</a></div>
									<div class="post-info">By Andrew</div>
								</article>
								<article class="post">
									<figure class="post-thumb"><img src="https://via.placeholder.com/70x70" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
									<div class="text"><a href="blog-single.html">Transforming how we think about data</a></div>
									<div class="post-info">By Andrew</div>
								</article>
								<article class="post">
									<figure class="post-thumb"><img src="https://via.placeholder.com/70x70" alt=""><a href="blog-single.html" class="overlay-box"><span class="icon fa fa-link"></span></a></figure>
									<div class="text"><a href="blog-single.html">Next generation of our technology</a></div>
									<div class="post-info">By Andrew</div>
								</article>
							</div>
						</div>
						
						<!-- Newsletter Widget -->
						<div class="sidebar-widget newsletter-widget">
							<!-- Sidebar Title -->
							<div class="sidebar-title">
								<h4>Newsletter</h4>
								<div class="separate"></div>
							</div>
							<div class="widget-content">
								<div class="text">Kum graecvib appareat nese atusu ipsum utam eleifend haseiy sonety.</div>
								
								<!-- Newsletter Form -->
								<div class="newsletter-form">
									<form method="post" action="contact.html">
										<div class="form-group">
											<input type="search" name="search-field" value="" placeholder="Enter your email" required>
											<button type="submit"><span class="icon fa fa-envelope"></span></button>
										</div>
									</form>
								</div>
								
							</div>
						</div>
						
						<!-- Popular Tags -->
						<div class="sidebar-widget popular-tags">
							<!-- Sidebar Title -->
							<div class="sidebar-title">
								<h4>Popular Tags</h4>
								<div class="separate"></div>
							</div>
							<div class="widget-content">
								<a href="#">Branding</a>
								<a href="#">Web Design</a>
								<a href="#">Digital</a>
								<a href="#">Development</a>
								<a href="#">Marketing</a>
								<a href="#">SEO</a>
								<a href="#">Planning</a>
								<a href="#">IT Solutions</a>
								<a href="#">Website</a>
								<a href="#">Fashion</a>
								<a href="#">Startup</a>
							</div>
						</div>
						
					</aside>
				</div>
				
			</div>
		</div>
	</div>
	
	<!-- Main Footer -->
	{% include "../footer.njk" %}
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="./tema/default-theme.css"></span>
            <span class="palate green-color" data-theme-file="./tema/green-theme.css"></span>
            <span class="palate blue-color" data-theme-file="./tema/blue-theme.css"></span>
            <span class="palate orange-color" data-theme-file="./tema/orange-theme.css"></span>
            <span class="palate purple-color" data-theme-file="./tema/purple-theme.css"></span>
            <span class="palate teal-color" data-theme-file="./tema/teal-theme.css"></span>
            <span class="palate brown-color" data-theme-file="./tema/brown-theme.css"></span>
            <span class="palate redd-color" data-theme-file="./tema/redd-color.css"></span>
        </div>
    </div>
	
    <a href="#" class="purchase-btn">Purchase now $17</a>
    
    <div class="palate-foo">
        <span>You will find much more options for colors and styling in admin panel. This color picker is used only for demonstation purposes.</span>
    </div>

</div>

<script type="text/javascript" src="js/script.js"></script>
</body>
</html>