<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Gazek HTML-5 Template | Contact Us</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link rel="stylesheet" href="css/all.css">
<link id="theme-color-file" href="tema/default-theme.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="images/images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/images/favicon.png" type="image/x-icon">

</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
 	<!-- Main Header-->
	{% set current_contact="current" %}
	{% include "../header.njk" %}
    <!-- End Main Header -->
	
	<!-- Hidden Navigation Bar -->
	{% include "../hidden_navbar.njk" %}
	
	<!--Page Title-->
    <section class="page-title" style="background-image:url(https://via.placeholder.com/1920x1164)">
    	<div class="auto-container">
			<h1>Contact Us</h1>
			<ul class="page-breadcrumb">
				<li><a href="index.html">home</a></li>
				<li>Get In Touch</li>
			</ul>
        </div>
    </section>
    <!--End Page Title-->
	
	<!-- Contact Info Section -->
    <section class="contact-info-section">
		<div class="plus-icons" style="background-image:url(images/images/icons/icon-3.png)"></div>
		<div class="auto-container">
			<div class="text">Contact us if you need our services. We will be happy to help you!!</div>
            <div class="row clearfix">
				
				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-6 col-sm-12">
					<div class="inner-column">
						<div class="icon flaticon-map"></div>
						<div class="title">Office Address</div>
						<div class="info-text">121 King St, Melbourne <br> VIC - 3000, Australia</div>
					</div>
				</div>
				<!-- End Info Column -->
				
				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-6 col-sm-12">
					<div class="inner-column">
						<div class="icon flaticon-phone-call"></div>
						<div class="title">Phone</div>
						<ul>
							<li><a href="#">(+1) 123 456 7890</a></li>
							<li><a href="#">(+1) 123 456 7870</a></li>
						</ul>
					</div>
				</div>
				<!-- End Info Column -->
				
				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-6 col-sm-12">
					<div class="inner-column">
						<div class="icon flaticon-message"></div>
						<div class="title">Email</div>
						<ul>
							<li><a href="#">info@domain.com</a></li>
							<li><a href="#">support@my-comp.com</a></li>
						</ul>
					</div>
				</div>
				<!-- End Info Column -->
				
			</div>
		</div>
	</section>
	<!-- End Contact Info Section -->
	
	<!-- Map Section -->
	<section class="map-section">
		<!-- Map Boxed -->
		<div class="map-boxed">
			<!--Map Outer-->
			<div class="map-outer">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d805184.6331292129!2d144.49266890254142!3d-37.97123689954809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2sMelbourne%20VIC%2C%20Australia!5e0!3m2!1sen!2s!4v1574408946759!5m2!1sen!2s" allowfullscreen=""></iframe>
			</div>
		</div>
	</section>
	<!-- End Map Section -->
	
	<!-- Contact Form Section -->
    <section class="contact-form-section">
		<div class="pattern-icons" style="background-image:url(images/images/icons/icon-4.png)"></div>
		<div class="inner-container">
			<div class="auto-container">
				<div class="title-box centered">
					<h4>Schedule A Project</h4>
					<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys perspiciatis accusan <br> dolor que totams mollit anim est laborum sedut perspiciatis und omnis.</div>
				</div>
				
				<!-- Contact Form -->
				<div class="contact-form">
					<form method="post" action="sendemail.php" id="contact-form">
						<div class="row clearfix">
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<input type="text" name="username" placeholder="Name" required>
							</div>
							
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<input type="email" name="email" placeholder="Email" required>
							</div>
							
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<input type="text" name="phone" placeholder="Phone" required>
							</div>
							
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<input type="text" name="subject" placeholder="Subject" required>
							</div>
							
							<div class="form-group col-lg-12 col-md-12 col-sm-12">
								<textarea name="message" placeholder="message"></textarea>
							</div>
						
							<div class="form-group text-center col-lg-12 col-md-12 col-sm-12">
								<button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="txt">send message</span></button>
							</div>
						</div>
					</form>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Contact Form Section -->
	
	<!-- Main Footer -->
	{% include "../footer.njk" %}
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="./tema/default-theme.css"></span>
            <span class="palate green-color" data-theme-file="./tema/green-theme.css"></span>
            <span class="palate blue-color" data-theme-file="./tema/blue-theme.css"></span>
            <span class="palate orange-color" data-theme-file="./tema/orange-theme.css"></span>
            <span class="palate purple-color" data-theme-file="./tema/purple-theme.css"></span>
            <span class="palate teal-color" data-theme-file="./tema/teal-theme.css"></span>
            <span class="palate brown-color" data-theme-file="./tema/brown-theme.css"></span>
            <span class="palate redd-color" data-theme-file="./tema/redd-color.css"></span>
        </div>
    </div>
	
    <a href="#" class="purchase-btn">Purchase now $17</a>
    
    <div class="palate-foo">
        <span>You will find much more options for colors and styling in admin panel. This color picker is used only for demonstation purposes.</span>
    </div>

</div>

<script type="text/javascript" src="js/script.js"></script>

</body>
</html>