<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Gazek HTML-5 Template | Homepage 03</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link rel="stylesheet" href="css/all.css">
<link id="theme-color-file" href="tema/default-theme.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;600;700;800&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="images/images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/images/favicon.png" type="image/x-icon">

</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
 	<!-- Main Header-->
	{% set current_home="current" %}
	{% include "../header.njk" %}
    <!-- End Main Header -->
	
	<!-- Hidden Navigation Bar -->
	{% include "../hidden_navbar.njk" %}
    
	<!-- Banner Section Two -->
    <section class="banner-section-three">
		<div class="main-slider-carousel owl-carousel owl-theme">
            
            <div class="slide" style="background-image: url(https://via.placeholder.com/1920x620)">
				<div class="auto-container">
					
					<!-- Content Column -->
					<div class="content-boxed">
						<div class="inner-box">
							<h1>Delivering For <br> Brand Expanding</h1>
							<div class="text">Possim sapientem dolor ipsum cumy sed graeci civibus <br> ats utamur molit elsifeny officia hase sonet.</div>
							<div class="btns-box">
								<a href="#" class="theme-btn btn-style-one"><span class="txt">discuss project</span></a>
								<a href="#" class="theme-btn btn-style-three"><span class="txt">our services</span></a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="slide" style="background-image: url(https://via.placeholder.com/1920x620)">
				<div class="auto-container">
					
					<!-- Content Column -->
					<div class="content-boxed">
						<div class="inner-column">
							<h1>Delivering For <br> Brand Expanding</h1>
							<div class="text">Possim sapientem dolor ipsum cumy sed graeci civibus <br> ats utamur molit elsifeny officia hase sonet.</div>
							<div class="btns-box">
								<a href="#" class="theme-btn btn-style-one"><span class="txt">discuss project</span></a>
								<a href="#" class="theme-btn btn-style-three"><span class="txt">our services</span></a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="slide" style="background-image: url(https://via.placeholder.com/1920x620)">
				<div class="auto-container">
					
					<!-- Content Column -->
					<div class="content-boxed">
						<div class="inner-column">
							<h1>Delivering For <br> Brand Expanding</h1>
							<div class="text">Possim sapientem dolor ipsum cumy sed graeci civibus <br> ats utamur molit elsifeny officia hase sonet.</div>
							<div class="btns-box">
								<a href="#" class="theme-btn btn-style-one"><span class="txt">discuss project</span></a>
								<a href="#" class="theme-btn btn-style-three"><span class="txt">our services</span></a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Banner Section Two -->
	
	<!-- About Section Two -->
	<section class="about-section-two">
		<div class="circle-layer" style="background-image:url(images/images/icons/icon-1.png)"></div>
		<div class="dotted-layer" style="background-image:url(images/images/icons/dotted-pattern.png)"></div>
		<div class="auto-container">

			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="https://via.placeholder.com/500x542" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">About Us</div>
							<div class="separate"></div>
							<h2>Innovation Brings Life <br> to Our Projects</h2>
						</div>
						<div class="text">Excepteur sint occaecat cupidatat non proident sunt culpa qui officia deserunt mollit any laboruys. Sed ut error sit voluptatem accusantium dolor que totams rendy aperiam eaque laudantium sed ipsum dolor sit amet consectetur adipisicing elit eiusmod tempora.</div>
						<ul class="list-style-one">
							<li>Incididunt labore magna aliqua enimad minim</li>
							<li>Sit voluptatem accusantium dolore mquey laudan</li>
							<li>Rem aperiam eaque ipsa quae illo inventore veritatis</li>
						</ul>
						<a href="#" class="theme-btn btn-style-one"><span class="txt">discover more</span></a>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End About Section -->
	
	<!-- Services Section Two -->
	<section class="services-section-two">
		<div class="long-arrow" style="background-image: url(images/images/icons/long-arrow-4.png)"></div>
		<div class="plus-icons" style="background-image:url(images/images/icons/icon-3.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">what we do</div>
				<div class="separate"></div>
				<h2>Impressive Experience <br> Building For Clients</h2>
			</div>
			
			<div class="row clearfix">
					
				<!-- Service Block -->
				<div class="service-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon flaticon-data"></span>
						</div>
						<h5><a href="#">Web Development</a></h5>
						<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon flaticon-graphic"></span>
						</div>
						<h5><a href="#">Digital Marketing</a></h5>
						<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon flaticon-vector"></span>
						</div>
						<h5><a href="#">Brand Designing</a></h5>
						<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon flaticon-smartphone-2"></span>
						</div>
						<h5><a href="#">Mobile Applications</a></h5>
						<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon flaticon-graphic-tool"></span>
						</div>
						<h5><a href="#">Ux/Ui Design</a></h5>
						<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
					</div>
				</div>
				
				<!-- Service Block -->
				<div class="service-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="icon-box">
							<span class="icon flaticon-rate"></span>
						</div>
						<h5><a href="#">Search Optimization</a></h5>
						<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Services Section Two -->
	
	<!-- Gallery Section Two -->
	<section class="gallery-section-two">
		<div class="long-arrow" style="background-image: url(images/images/icons/long-arrow-4.png)"></div>
		<div class="pattern-icon" style="background-image: url(images/images/icons/icon-4.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">what we have done</div>
				<div class="separate"></div>
				<h2>Recent Projects</h2>
			</div>
			
			<div class="masonry-items-container row clearfix">
				
				<!-- Gallery Block Two -->
				<div class="gallery-block-two masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<figure class="image-box">
							<img src="https://via.placeholder.com/360x360" alt="">
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h4><a href="#">Cato Art Work</a></h4>
										<div class="category">Branding Design</div>
									</div>
								</div>
							</div>
						</figure>
					</div>
				</div>
				
				<!-- Gallery Block Two -->
				<div class="gallery-block-two masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<figure class="image-box">
							<img src="https://via.placeholder.com/360x260" alt="">
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h4><a href="#">Cato Art Work</a></h4>
										<div class="category">Branding Design</div>
									</div>
								</div>
							</div>
						</figure>
					</div>
				</div>
				
				<!-- Gallery Block Two -->
				<div class="gallery-block-two masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<figure class="image-box">
							<img src="https://via.placeholder.com/360x450" alt="">
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h4><a href="#">Cato Art Work</a></h4>
										<div class="category">Branding Design</div>
									</div>
								</div>
							</div>
						</figure>
					</div>
				</div>
				
				<!-- Gallery Block Two -->
				<div class="gallery-block-two masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<figure class="image-box">
							<img src="https://via.placeholder.com/360x260" alt="">
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h4><a href="#">Cato Art Work</a></h4>
										<div class="category">Branding Design</div>
									</div>
								</div>
							</div>
						</figure>
					</div>
				</div>
				
				<!-- Gallery Block Two -->
				<div class="gallery-block-two masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<figure class="image-box">
							<img src="https://via.placeholder.com/360x450" alt="">
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h4><a href="#">Cato Art Work</a></h4>
										<div class="category">Branding Design</div>
									</div>
								</div>
							</div>
						</figure>
					</div>
				</div>
				<!-- Gallery Block Two -->
				<div class="gallery-block-two masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<figure class="image-box">
							<img src="https://via.placeholder.com/360x360" alt="">
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h4><a href="#">Cato Art Work</a></h4>
										<div class="category">Branding Design</div>
									</div>
								</div>
							</div>
						</figure>
					</div>
				</div>
				<!-- Gallery Block Two -->
				<div class="gallery-block-two masonry-item col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<figure class="image-box">
							<img src="https://via.placeholder.com/360x260" alt="">
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h4><a href="#">Cato Art Work</a></h4>
										<div class="category">Branding Design</div>
									</div>
								</div>
							</div>
						</figure>
					</div>
				</div>
				
				
				
			</div>
			
		</div>
	</section>
	<!-- End Gallery Section Two -->
	
	<!-- Video Section -->
	<section class="video-section" style="background-image:url(https://via.placeholder.com/1920x1280)">
		<div class="auto-container">
			<h2>Crafting high-level brands with <br> pleasant mode of design</h2>
			<div class="title">we provide solutions for everyone</div>
			<a href="https://www.youtube.com/watch?v=kxPCFljwJws" class="lightbox-image video-box"><span class="fa fa-play"><i class="ripple"></i></span></a>
		</div>
	</section>
	<!-- End Video Section -->
	
	<!-- Experiance Section -->
	<section class="experiance-section">
		<div class="auto-container">
			<div class="long-arrow" style="background-image: url(images/images/icons/long-arrow-4.png)"></div>
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="title">better strategy</div>
				<div class="separate"></div>
				<h2>Our Experience</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Experiance Column -->
				<div class="experiance-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="number">15</div>
						<div class="years">Years Of Experience</div>
					</div>
				</div>
				
				<!-- Skill Column -->
				<div class="skill-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<h3>Skills we have ...</h3>
						<div class="text">Excepteur sint occaecat cupidatat non proident sunt culpaui officia deserunt mollit any laboruys. Sed ut perspiciatis unde omnis iste.</div>
						
						<!-- Skills -->
						<div class="skills">

							<!-- Skill Item -->
							<div class="skill-item">
								<div class="skill-header clearfix">
									<div class="skill-title">marketing</div>
									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="92">0</span>%</div></div>
								</div>
								<div class="skill-bar">
									<div class="bar-inner"><div class="bar progress-line" data-width="92"></div></div>
								</div>
							</div>

							<!-- Skill Item -->
							<div class="skill-item">
								<div class="skill-header clearfix">
									<div class="skill-title">design / development</div>
									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="80">0</span>%</div></div>
								</div>
								<div class="skill-bar">
									<div class="bar-inner"><div class="bar progress-line" data-width="80"></div></div>
								</div>
							</div>

							<!-- Skill Item -->
							<div class="skill-item">
								<div class="skill-header clearfix">
									<div class="skill-title">photography</div>
									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="65">0</span>%</div></div>
								</div>
								<div class="skill-bar">
									<div class="bar-inner"><div class="bar progress-line" data-width="65"></div></div>
								</div>
							</div>

						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Experiance Section -->
	
	<!-- Featured Section -->
	<section class="featured-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Feature Block -->
				<div class="feature-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="icon">
							<img src="images/images/resource/feature-1.png" alt="" />
						</div>
						<h5>Planning & Sketch</h5>
						<div class="text">Percu dicat copiosae reprimique teim. laborey sed fabulas scriptorem.</div>
					</div>
				</div>
				
				<!-- Feature Block -->
				<div class="feature-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="icon">
							<img src="images/images/resource/feature-2.png" alt="" />
						</div>
						<h5>Design & Develop</h5>
						<div class="text">Percu dicat copiosae reprimique teim. laborey sed fabulas scriptorem.</div>
					</div>
				</div>
				
				<!-- Feature Block -->
				<div class="feature-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="icon">
							<img src="images/images/resource/feature-3.png" alt="" />
						</div>
						<h5>Testing & Deliver</h5>
						<div class="text">Percu dicat copiosae reprimique teim. laborey sed fabulas scriptorem.</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Featured Section -->
	
	<!-- Counter Section -->
	<section class="counter-section" style="background-image:url(https://via.placeholder.com/1920x437)">
		<div class="auto-container">
			
			<!-- Fact Counter -->
			<div class="fact-counter style-two">
				<div class="row clearfix">

					<!-- Column -->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="icon flaticon-mouse"></div>
								<div class="count-outer count-box alternate">
									<span class="count-text" data-speed="4500" data-stop="600">0</span>+
								</div>
								<div class="counter-title">Project</div>
							</div>
						</div>
					</div>
					
					<!-- Column -->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="icon flaticon-imac"></div>
								<div class="count-outer count-box">
									<span class="count-text" data-speed="2000" data-stop="80">0</span>+
								</div>
								<div class="counter-title">Award</div>
							</div>
						</div>
					</div>
					
					<!-- Column -->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="icon flaticon-user-4"></div>
								<div class="count-outer count-box">
									<span class="count-text" data-speed="3000" data-stop="150">0</span>+
								</div>
								<div class="counter-title">Client</div>
							</div>
						</div>
					</div>
					
					<!-- Column -->
					<div class="column counter-column col-lg-3 col-md-6 col-sm-12">
						<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
							<div class="content">
								<div class="icon flaticon-folder-1"></div>
								<div class="count-outer count-box">
									<span class="count-text" data-speed="3000" data-stop="125">0</span>+
								</div>
								<div class="counter-title">in progress</div>
							</div>
						</div>
					</div>
				
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Counter Section -->
	
	<!-- Team Section -->
	<section class="team-section">
		<div class="long-arrow" style="background-image: url(images/images/icons/long-arrow-4.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">professionals at work</div>
				<div class="separate"></div>
				<h2>Meet Our Team</h2>
			</div>
			
			<div class="row clearfix">
			
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="https://via.placeholder.com/170x170" alt="" />
						</div>
						<h6>alex rasman</h6>
						<div class="designation">ceo founder</div>
						<!--Social Links-->
						<ul class="social-links">
							<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
							<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
						</ul>
						
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<div class="name"><a href="#">alex rasman</a></div>
									<div class="designation-popup">ceo founder</div>
									<div class="text">Eorem ipsum dolr sit dolor amt eiusmod tempor sed eminys bor veniama ipsum nostrud esa sed magna aliqa autga enim.</div>
									<div class="number"><a href="tel:123-456-7890">(123) 456 7890</a></div>
									<!--Social Links-->
									<ul class="social-links">
										<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
										<li><a href="#"><span class="fa fa-twitter"></span></a></li>
										<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
										<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="https://via.placeholder.com/170x170" alt="" />
						</div>
						<h6>tom albert</h6>
						<div class="designation">developer</div>
						<!--Social Links-->
						<ul class="social-links">
							<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
							<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
						</ul>
						
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<div class="name"><a href="#">tom albert</a></div>
									<div class="designation-popup">developer</div>
									<div class="text">Eorem ipsum dolr sit dolor amt eiusmod tempor sed eminys bor veniama ipsum nostrud esa sed magna aliqa autga enim.</div>
									<div class="number"><a href="tel:123-456-7890">(123) 456 7890</a></div>
									<!--Social Links-->
									<ul class="social-links">
										<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
										<li><a href="#"><span class="fa fa-twitter"></span></a></li>
										<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
										<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="https://via.placeholder.com/170x170" alt="" />
						</div>
						<h6>sara anderson</h6>
						<div class="designation">creative designer</div>
						<!--Social Links-->
						<ul class="social-links">
							<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
							<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
						</ul>
						
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<div class="name"><a href="#">sara anderson</a></div>
									<div class="designation-popup">creative designer</div>
									<div class="text">Eorem ipsum dolr sit dolor amt eiusmod tempor sed eminys bor veniama ipsum nostrud esa sed magna aliqa autga enim.</div>
									<div class="number"><a href="tel:123-456-7890">(123) 456 7890</a></div>
									<!--Social Links-->
									<ul class="social-links">
										<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
										<li><a href="#"><span class="fa fa-twitter"></span></a></li>
										<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
										<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
				<!-- Team Block -->
				<div class="team-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<img src="https://via.placeholder.com/170x170" alt="" />
						</div>
						<h6>chris donald</h6>
						<div class="designation">manager admin</div>
						<!--Social Links-->
						<ul class="social-links">
							<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
							<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
						</ul>
						
						<!-- Overlay Box -->
						<div class="overlay-box">
							<div class="overlay-inner">
								<div class="content">
									<div class="name"><a href="#">chris donald</a></div>
									<div class="designation-popup">manager admin</div>
									<div class="text">Eorem ipsum dolr sit dolor amt eiusmod tempor sed eminys bor veniama ipsum nostrud esa sed magna aliqa autga enim.</div>
									<div class="number"><a href="tel:123-456-7890">(123) 456 7890</a></div>
									<!--Social Links-->
									<ul class="social-links">
										<li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
										<li><a href="#"><span class="fa fa-twitter"></span></a></li>
										<li><a href="#"><span class="fa fa-google-plus"></span></a></li>
										<li><a href="#"><span class="fa fa-linkedin"></span></a></li>
									</ul>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Team Section -->
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="long-arrow" style="background-image: url(images/images/icons/long-arrow-1.png)"></div>
		<div class="circle-layer" style="background-image:url(images/images/icons/icon-1.png)"></div>
		<div class="plus-icons" style="background-image:url(images/images/icons/icon-3.png)"></div>
		<div class="side-pattern" style="background-image:url(images/images/background/pattern-1.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">What clients saying</div>
				<div class="separate"></div>
				<h2>What Clients Say</h2>
			</div>
			<div class="testimonial-carousel owl-carousel owl-theme">
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="author-image">
							<img src="https://via.placeholder.com/100x100" alt="" />
						</div>
						<div class="text">Aperiam eaque ipsa quae ab illo inventore veritatis quasi Sit voluptatem accusantium dolore mquey laudan totam architecto beatae vitae dicta sunt explicabo tempor incid labore et dolore magna aliqua veniam.</div>
						<div class="author-info">John Smith</div>
						<div class="designation">CEO Kamelia Media Ltd.</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="author-image">
							<img src="https://via.placeholder.com/100x100" alt="" />
						</div>
						<div class="text">Aperiam eaque ipsa quae ab illo inventore veritatis quasi Sit voluptatem accusantium dolore mquey laudan totam architecto beatae vitae dicta sunt explicabo tempor incid labore et dolore magna aliqua veniam.</div>
						<div class="author-info">John Smith</div>
						<div class="designation">CEO Kamelia Media Ltd.</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="author-image">
							<img src="https://via.placeholder.com/100x100" alt="" />
						</div>
						<div class="text">Aperiam eaque ipsa quae ab illo inventore veritatis quasi Sit voluptatem accusantium dolore mquey laudan totam architecto beatae vitae dicta sunt explicabo tempor incid labore et dolore magna aliqua veniam.</div>
						<div class="author-info">John Smith</div>
						<div class="designation">CEO Kamelia Media Ltd.</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="author-image">
							<img src="https://via.placeholder.com/100x100" alt="" />
						</div>
						<div class="text">Aperiam eaque ipsa quae ab illo inventore veritatis quasi Sit voluptatem accusantium dolore mquey laudan totam architecto beatae vitae dicta sunt explicabo tempor incid labore et dolore magna aliqua veniam.</div>
						<div class="author-info">John Smith</div>
						<div class="designation">CEO Kamelia Media Ltd.</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="author-image">
							<img src="https://via.placeholder.com/100x100" alt="" />
						</div>
						<div class="text">Aperiam eaque ipsa quae ab illo inventore veritatis quasi Sit voluptatem accusantium dolore mquey laudan totam architecto beatae vitae dicta sunt explicabo tempor incid labore et dolore magna aliqua veniam.</div>
						<div class="author-info">John Smith</div>
						<div class="designation">CEO Kamelia Media Ltd.</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="author-image">
							<img src="https://via.placeholder.com/100x100" alt="" />
						</div>
						<div class="text">Aperiam eaque ipsa quae ab illo inventore veritatis quasi Sit voluptatem accusantium dolore mquey laudan totam architecto beatae vitae dicta sunt explicabo tempor incid labore et dolore magna aliqua veniam.</div>
						<div class="author-info">John Smith</div>
						<div class="designation">CEO Kamelia Media Ltd.</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->
	
	<!-- Contact Section -->
	<section class="contact-section" style="background-image:url(images/images/background/1.jpg)">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Column -->
				<div class="column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="long-arrow" style="background-image: url(images/images/icons/long-arrow-3.png)"></div>
						<!-- Sec Title -->
						<div class="sec-title style-two">
							<div class="title">Contact us</div>
							<div class="separate"></div>
						</div>
						
						<ul class="info-list">
							<li>
								<strong>London Office, UK</strong>
								58 Crown Street, London CA11 2ZX<br>
								United Kingdom<br>
								Phone: <a href="tel:079-7807-2032">079 7807 2032</a><br>
								Email: <a href="mailto:biz@my-domain.com">biz@my-domain.com</a>
							</li>
							<li>
								<strong>Newyork Office, USA</strong>
								4157  Settlers Lane, Huntington, NY<br>
								11743 - United States<br>
								Phone: <a href="tel:917-833-6516">917-833-6516</a><br>
								Email: <a href="mailto:biz@my-domain.com">biz@my-domain.com</a>
							</li>
						</ul>
						
					</div>
				</div>
				
				<!-- Column -->
				<div class="column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="long-arrow" style="background-image: url(images/images/icons/long-arrow-3.png)"></div>
						<!-- Sec Title -->
						<div class="sec-title style-two">
							<div class="title">send a message</div>
							<div class="separate"></div>
						</div>
						
						<!-- Default Form -->
						<div class="default-form">
							<form method="post" action="blog.html">
									
								<div class="form-group">
									<input type="text" name="username" placeholder="Your name" required>
								</div>
								
								<div class="form-group">
									<input type="email" name="email" placeholder="Email address" required>
								</div>
								
								<div class="form-group">
									<textarea name="message" placeholder="message"></textarea>
								</div>
							
								<div class="form-group">
									<button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="txt">send message</span></button>
								</div>
								
							</form>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Contact Section -->
	
	<!-- News Section -->
	<section class="news-section">
		<div class="long-arrow" style="background-image: url(images/images/icons/long-arrow-4.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">get working tips from us</div>
				<div class="separate"></div>
				<h2>News And Articles</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-single.html"><img src="https://via.placeholder.com/360x280" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><span class="icon fa fa-calendar"></span> March 15, 2020</li>
								<li><span class="icon fa fa-comment-o"></span> 187</li>
							</ul>
							<h5><a href="blog-single.html">Streamline Your Projects With Our Easy Solutions</a></h5>
							<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys. Sed ut perspiciatis unde om accusantium dolor que totams.</div>
							<a href="blog-single.html" class="theme-btn btn-style-four"><span class="txt">Read More</span></a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-single.html"><img src="https://via.placeholder.com/360x280" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><span class="icon fa fa-calendar"></span> March 15, 2020</li>
								<li><span class="icon fa fa-comment-o"></span> 187</li>
							</ul>
							<h5><a href="blog-single.html">Why We Are Top of The Heap Digital Agency In Town</a></h5>
							<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys. Sed ut perspiciatis unde om accusantium dolor que totams.</div>
							<a href="blog-single.html" class="theme-btn btn-style-four"><span class="txt">Read More</span></a>
						</div>
					</div>
				</div>
				
				<!-- News Block -->
				<div class="news-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="blog-single.html"><img src="https://via.placeholder.com/360x280" alt="" /></a>
						</div>
						<div class="lower-content">
							<ul class="post-meta">
								<li><span class="icon fa fa-calendar"></span> March 15, 2020</li>
								<li><span class="icon fa fa-comment-o"></span> 187</li>
							</ul>
							<h5><a href="blog-single.html">Streamline Your Projects With Our Easy Solutions</a></h5>
							<div class="text">Excepteur sint occaecat cupidatat non proident mollit any laboruys. Sed ut perspiciatis unde om accusantium dolor que totams.</div>
							<a href="blog-single.html" class="theme-btn btn-style-four"><span class="txt">Read More</span></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End News Section -->
	
	<!-- Main Footer -->
	{% include "../footer.njk" %}
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="./tema/default-theme.css"></span>
            <span class="palate green-color" data-theme-file="./tema/green-theme.css"></span>
            <span class="palate blue-color" data-theme-file="./tema/blue-theme.css"></span>
            <span class="palate orange-color" data-theme-file="./tema/orange-theme.css"></span>
            <span class="palate purple-color" data-theme-file="./tema/purple-theme.css"></span>
            <span class="palate teal-color" data-theme-file="./tema/teal-theme.css"></span>
            <span class="palate brown-color" data-theme-file="./tema/brown-theme.css"></span>
            <span class="palate redd-color" data-theme-file="./tema/redd-color.css"></span>
        </div>
    </div>
	
    <a href="#" class="purchase-btn">Purchase now $17</a>
    
    <div class="palate-foo">
        <span>You will find much more options for colors and styling in admin panel. This color picker is used only for demonstation purposes.</span>
    </div>

</div>

<script type="text/javascript" src="js/script.js"></script>

</body>
</html>