<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Gazek HTML-5 Template | Homepage 02</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<link rel="stylesheet" href="css/all.css">
<link id="theme-color-file" href="tema/default-theme.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="images/images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/images/favicon.png" type="image/x-icon">

</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
 	<!-- Main Header-->
	{% set current_home="current" %}
	{% include "../header.njk" %}
    <!-- End Main Header -->
	
	<!-- Hidden Navigation Bar -->
	{% include "../hidden_navbar.njk" %}
	
	<!-- Banner Section -->
    <section class="banner-section-two">
		<div class="main-slider-carousel owl-carousel owl-theme">
            
            <div class="slide" style="background-image: url(https://via.placeholder.com/1920x620)">
				<div class="auto-container">
					
					<!-- Content Column -->
					<div class="content-boxed">
						<div class="inner-box">
							<h1>Delivering For <br> Brand Expanding</h1>
							<div class="text">Possim sapientem dolor ipsum cumy sed graeci civibus <br> ats utamur molit elsifeny officia hase sonet.</div>
							<div class="btns-box">
								<a href="#" class="theme-btn btn-style-one"><span class="txt">discuss project</span></a>
								<a href="#" class="theme-btn btn-style-three"><span class="txt">our services</span></a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="slide" style="background-image: url(https://via.placeholder.com/1920x620)">
				<div class="auto-container">
					
					<!-- Content Column -->
					<div class="content-boxed">
						<div class="inner-column">
							<h1>Delivering For <br> Brand Expanding</h1>
							<div class="text">Possim sapientem dolor ipsum cumy sed graeci civibus <br> ats utamur molit elsifeny officia hase sonet.</div>
							<div class="btns-box">
								<a href="#" class="theme-btn btn-style-one"><span class="txt">discuss project</span></a>
								<a href="#" class="theme-btn btn-style-three"><span class="txt">our services</span></a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="slide" style="background-image: url(https://via.placeholder.com/1920x620)">
				<div class="auto-container">
					
					<!-- Content Column -->
					<div class="content-boxed">
						<div class="inner-column">
							<h1>Delivering For <br> Brand Expanding</h1>
							<div class="text">Possim sapientem dolor ipsum cumy sed graeci civibus <br> ats utamur molit elsifeny officia hase sonet.</div>
							<div class="btns-box">
								<a href="#" class="theme-btn btn-style-one"><span class="txt">discuss project</span></a>
								<a href="#" class="theme-btn btn-style-three"><span class="txt">our services</span></a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</section>
	<!-- End Banner Section Two -->
	
	<!-- About Section -->
	<section class="about-section style-two">
		<div class="circle-layer" style="background-image:url(images/images/icons/icon-1.png)"></div>
		<div class="dotted-layer" style="background-image:url(images/images/icons/dotted-pattern.png)"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="long-arrow" style="background-image: url(images/images/icons/long-arrow-1.png)"></div>
				<!-- Sec Title -->
				<div class="sec-title">
					<div class="title">About Us</div>
					<div class="separate"></div>
				</div>
				<div class="row clearfix">
					
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">
						<p>Excepteur sint occaecat cupidatat no proident sunt culp qui officia deserunt mollit any laboruys. Sed perspiciatis unde omnis iste natus error sit voluptatem accusantium dolor que totams rendy aperiam eaque laudantium sed ipsum dolor sit amet consectetur.</p>
						<p>Eiusmod temp incididunt laborey magna aliqua enimas minim veniam quis sit voluptatem.</p>
					</div>
					<!-- Column -->
					<div class="column col-lg-6 col-md-12 col-sm-12">
						<p>Accusantium dolore mquey laudan totam rem aperiam eaque ipsa quae ab illo inventore veritatis quas chitecto beatae vitae dicta sunt explicabo.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
						<a href="#" class="read-more">Read More <span class="arrow flaticon-arrow"></span></a>
					</div>
					
				</div>
				
				<!-- Counter Boxed -->
				<div class="counter-boxed">
					
					<!-- Fact Counter -->
					<div class="fact-counter">
						<div class="row clearfix">
	
							<!-- Column -->
							<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-mouse"></div>
										<div class="count-outer count-box alternate">
											<span class="count-text" data-speed="4500" data-stop="600">0</span>+
										</div>
										<div class="counter-title">Project</div>
									</div>
								</div>
							</div>

							<!-- Column -->
							<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-user-4"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="3000" data-stop="150">0</span>+
										</div>
										<div class="counter-title">Client</div>
									</div>
								</div>
							</div>
							
							<!-- Column -->
							<div class="column counter-column col-lg-4 col-md-6 col-sm-12">
								<div class="inner wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
									<div class="content">
										<div class="icon flaticon-imac"></div>
										<div class="count-outer count-box">
											<span class="count-text" data-speed="2000" data-stop="80">0</span>+
										</div>
										<div class="counter-title">Award</div>
									</div>
								</div>
							</div>
						
						</div>
						
					</div>
					
				</div>
				
			</div>
		</div>
	</section>
	<!-- End About Section -->
	
	<!-- Services Section -->
	<section class="services-section">
		<div class="icon-one" style="background-image:url(images/images/icons/icon-3.png)"></div>
		<div class="service-image" style="background-image:url(https://via.placeholder.com/330x950)"></div>
		<div class="auto-container">
			<div class="inner-container">
				<!-- Sec Title -->
				<div class="sec-title">
					<div class="title">What We Do</div>
					<div class="separate"></div>
				</div>
				<div class="row clearfix">
					
					<!-- Service Block -->
					<div class="service-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-data"></span>
							</div>
							<h5><a href="#">Web Development</a></h5>
							<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
							<a href="#" class="arrow-box"><span class="icon flaticon-right-arrow-forward"></span></a>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-graphic"></span>
							</div>
							<h5><a href="#">Digital Marketing</a></h5>
							<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
							<a href="#" class="arrow-box"><span class="icon flaticon-right-arrow-forward"></span></a>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-vector"></span>
							</div>
							<h5><a href="#">Brand Designing</a></h5>
							<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
							<a href="#" class="arrow-box"><span class="icon flaticon-right-arrow-forward"></span></a>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-smartphone-2"></span>
							</div>
							<h5><a href="#">Mobile Applications</a></h5>
							<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
							<a href="#" class="arrow-box"><span class="icon flaticon-right-arrow-forward"></span></a>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInRight" data-wow-delay="150ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-graphic-tool"></span>
							</div>
							<h5><a href="#">Ux/Ui Design</a></h5>
							<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
							<a href="#" class="arrow-box"><span class="icon flaticon-right-arrow-forward"></span></a>
						</div>
					</div>
					
					<!-- Service Block -->
					<div class="service-block col-lg-4 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
							<div class="icon-box">
								<span class="icon flaticon-rate"></span>
							</div>
							<h5><a href="#">Search Optimization</a></h5>
							<div class="text">Vim novum tritaniys scribentur varet per cu dicat copiosae reprimique teim. laborey fabulas scriptorem.</div>
							<a href="#" class="arrow-box"><span class="icon flaticon-right-arrow-forward"></span></a>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Section -->
	
	<!-- Call To Action Section -->
	<section class="call-to-action-section" style="background-image:url(images/images/background/2.jpg)">
		<div class="icon-one" style="background-image:url(images/images/icons/icon-3.png)"></div>
		<div class="dotted-icons" style="background-image:url(images/images/icons/dotted-pattern-1.png)"></div>
		<div class="auto-container">
			<div class="inner-container">
				<h2>We’re Leading Digital Agency For <br> Increasing Sales or Boosting Traffic</h2>
				<div class="text">Scribentur varet per cu dicat copiosae reprimique teim laborey fabulas scriptorem <br> ullamco laboris nisi ut aliquip duis aute irure dolor in reprehenderit</div>
				<a href="#" class="theme-btn btn-style-one"><span class="txt">discuss project</span></a>
			</div>
		</div>
	</section>
	<!-- End Call To Action Section -->
	
	<!-- Choose Section -->
	<section class="choose-section">
		<div class="circle-layer" style="background-image:url(images/images/icons/icon-1.png)"></div>
		<div class="patern-icon-two" style="background-image: url(images/images/icons/icon-4.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="title">why choose us</div>
				<div class="separate"></div>
			</div>
			<div class="inner-container">
				<div class="long-arrow" style="background-image: url(images/images/icons/long-arrow-1.png)"></div>
				<div class="row clearfix">
					
					<!-- Image Column -->
					<div class="image-column col-lg-7 col-md-12 col-sm-12">
						<div class="inner-column">
							<div class="image">
								<img src="https://via.placeholder.com/580x500" alt="" />
							</div>
						</div>
					</div>
					
					<!-- Content Column -->
					<div class="content-column col-lg-5 col-md-12 col-sm-12">
						<div class="inner-column">
							<ul>
								<li>
									<strong>Premium Digital Agency</strong>
									Proident sunt culpa qui officia deserunt mollit any laboruys. Sed ut perspiciatis unde mnis iste natus error sit voluptatem accusantium dolor que totams rendy.
								</li>
								<li>
									<strong>Enrich Web Experience</strong>
									Sit voluptatem accusantium dolore muey laudan tium, totam rem aperiam, eaque ipa quae ab illo inventore veritatis quasi architecto beatae vitae dicta sunt explicabo. 
								</li>
								<li>
									<strong>Unique Set of Solutions</strong>
									Proident sunt culpa qui officia deserunt mollit any laboruys. Sed ut perspiciatis unde mnis iste natus error sit voluptatem accusantium dolor que totams rendy.
								</li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<!-- End Choose Section -->
	
	<!-- Gallery Section -->
	<section class="gallery-section">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="https://via.placeholder.com/570x400" alt="" /></a>
							<div class="overlay-box">
								<div class="content clearfix">
									<div class="pull-left">
										<h3><a href="#">Badges Work</a></h3>
										<div class="category">Branding Design</div>
									</div>
									<div class="pull-right">
										<a href="#" class="search-icon flaticon-magnifying-glass"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="https://via.placeholder.com/570x400" alt="" /></a>
							<div class="overlay-box">
								<div class="content clearfix">
									<div class="pull-left">
										<h3><a href="#">Badges Work</a></h3>
										<div class="category">Branding Design</div>
									</div>
									<div class="pull-right">
										<a href="#" class="search-icon flaticon-magnifying-glass"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="https://via.placeholder.com/570x400" alt="" /></a>
							<div class="overlay-box">
								<div class="content clearfix">
									<div class="pull-left">
										<h3><a href="#">Badges Work</a></h3>
										<div class="category">Branding Design</div>
									</div>
									<div class="pull-right">
										<a href="#" class="search-icon flaticon-magnifying-glass"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="https://via.placeholder.com/570x400" alt="" /></a>
							<div class="overlay-box">
								<div class="content clearfix">
									<div class="pull-left">
										<h3><a href="#">Badges Work</a></h3>
										<div class="category">Branding Design</div>
									</div>
									<div class="pull-right">
										<a href="#" class="search-icon flaticon-magnifying-glass"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="https://via.placeholder.com/570x400" alt="" /></a>
							<div class="overlay-box">
								<div class="content clearfix">
									<div class="pull-left">
										<h3><a href="#">Badges Work</a></h3>
										<div class="category">Branding Design</div>
									</div>
									<div class="pull-right">
										<a href="#" class="search-icon flaticon-magnifying-glass"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Gallery Block -->
				<div class="gallery-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="https://via.placeholder.com/570x400" alt="" /></a>
							<div class="overlay-box">
								<div class="content clearfix">
									<div class="pull-left">
										<h3><a href="#">Badges Work</a></h3>
										<div class="category">Branding Design</div>
									</div>
									<div class="pull-right">
										<a href="#" class="search-icon flaticon-magnifying-glass"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Gallery Section -->
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="long-arrow" style="background-image: url(images/images/icons/long-arrow-1.png)"></div>
		<div class="circle-layer" style="background-image:url(images/images/icons/icon-1.png)"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">What clients saying</div>
				<div class="separate"></div>
			</div>
			<div class="testimonial-carousel owl-carousel owl-theme">
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="author-image">
							<img src="https://via.placeholder.com/100x100" alt="" />
						</div>
						<div class="text">Aperiam eaque ipsa quae ab illo inventore veritatis quasi Sit voluptatem accusantium dolore mquey laudan totam architecto beatae vitae dicta sunt explicabo tempor incid labore et dolore magna aliqua veniam.</div>
						<div class="author-info">John Smith</div>
						<div class="designation">CEO Kamelia Media Ltd.</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="author-image">
							<img src="https://via.placeholder.com/100x100" alt="" />
						</div>
						<div class="text">Aperiam eaque ipsa quae ab illo inventore veritatis quasi Sit voluptatem accusantium dolore mquey laudan totam architecto beatae vitae dicta sunt explicabo tempor incid labore et dolore magna aliqua veniam.</div>
						<div class="author-info">John Smith</div>
						<div class="designation">CEO Kamelia Media Ltd.</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="author-image">
							<img src="https://via.placeholder.com/100x100" alt="" />
						</div>
						<div class="text">Aperiam eaque ipsa quae ab illo inventore veritatis quasi Sit voluptatem accusantium dolore mquey laudan totam architecto beatae vitae dicta sunt explicabo tempor incid labore et dolore magna aliqua veniam.</div>
						<div class="author-info">John Smith</div>
						<div class="designation">CEO Kamelia Media Ltd.</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="author-image">
							<img src="https://via.placeholder.com/100x100" alt="" />
						</div>
						<div class="text">Aperiam eaque ipsa quae ab illo inventore veritatis quasi Sit voluptatem accusantium dolore mquey laudan totam architecto beatae vitae dicta sunt explicabo tempor incid labore et dolore magna aliqua veniam.</div>
						<div class="author-info">John Smith</div>
						<div class="designation">CEO Kamelia Media Ltd.</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="author-image">
							<img src="https://via.placeholder.com/100x100" alt="" />
						</div>
						<div class="text">Aperiam eaque ipsa quae ab illo inventore veritatis quasi Sit voluptatem accusantium dolore mquey laudan totam architecto beatae vitae dicta sunt explicabo tempor incid labore et dolore magna aliqua veniam.</div>
						<div class="author-info">John Smith</div>
						<div class="designation">CEO Kamelia Media Ltd.</div>
					</div>
				</div>
				
				<!-- Testimonial Block -->
				<div class="testimonial-block">
					<div class="inner-box">
						<div class="author-image">
							<img src="https://via.placeholder.com/100x100" alt="" />
						</div>
						<div class="text">Aperiam eaque ipsa quae ab illo inventore veritatis quasi Sit voluptatem accusantium dolore mquey laudan totam architecto beatae vitae dicta sunt explicabo tempor incid labore et dolore magna aliqua veniam.</div>
						<div class="author-info">John Smith</div>
						<div class="designation">CEO Kamelia Media Ltd.</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Testimonial Section -->
	
	<!-- Contact Section -->
	<section class="contact-section" style="background-image:url(images/images/background/1.jpg)">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Column -->
				<div class="column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="long-arrow" style="background-image: url(images/images/icons/long-arrow-3.png)"></div>
						<!-- Sec Title -->
						<div class="sec-title style-two">
							<div class="title">Contact us</div>
							<div class="separate"></div>
						</div>
						
						<ul class="info-list">
							<li>
								<strong>London Office, UK</strong>
								58 Crown Street, London CA11 2ZX<br>
								United Kingdom<br>
								Phone: <a href="tel:079-7807-2032">079 7807 2032</a><br>
								Email: <a href="mailto:biz@my-domain.com">biz@my-domain.com</a>
							</li>
							<li>
								<strong>Newyork Office, USA</strong>
								4157  Settlers Lane, Huntington, NY<br>
								11743 - United States<br>
								Phone: <a href="tel:917-833-6516">917-833-6516</a><br>
								Email: <a href="mailto:biz@my-domain.com">biz@my-domain.com</a>
							</li>
						</ul>
						
					</div>
				</div>
				
				<!-- Column -->
				<div class="column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="long-arrow" style="background-image: url(images/images/icons/long-arrow-3.png)"></div>
						<!-- Sec Title -->
						<div class="sec-title style-two">
							<div class="title">send a message</div>
							<div class="separate"></div>
						</div>
						
						<!-- Default Form -->
						<div class="default-form">
							<form method="post" action="blog.html">
									
								<div class="form-group">
									<input type="text" name="username" placeholder="Your name" required>
								</div>
								
								<div class="form-group">
									<input type="email" name="email" placeholder="Email address" required>
								</div>
								
								<div class="form-group">
									<textarea name="message" placeholder="message"></textarea>
								</div>
							
								<div class="form-group">
									<button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="txt">send message</span></button>
								</div>
								
							</form>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Contact Section -->
	
	<!-- Call To Action Section -->
	<section class="call-to-action-section-two">
		<div class="dotted-icons" style="background-image:url(images/images/icons/dotted-pattern-2.png)"></div>
		<div class="plus-icons" style="background-image:url(images/images/icons/icon-3.png)"></div>
		<div class="auto-container">
			<div class="inner-container">
				<h2>Innovation Brings Life to Our Projects</h2>
				<div class="text">Scribentur varet per cu dicat copiosae reprimique teim laborey fabulas scriptorem</div>
				<div class="btns-box">
					<a href="#" class="theme-btn btn-style-one"><span class="txt">discuss project</span></a>
					<a href="#" class="theme-btn btn-style-two"><span class="txt">subscribe newsletter</span></a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Call To Action Section -->
	
	<!-- Main Footer -->
	{% include "../footer.njk" %}
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="./tema/default-theme.css"></span>
            <span class="palate green-color" data-theme-file="./tema/green-theme.css"></span>
            <span class="palate blue-color" data-theme-file="./tema/blue-theme.css"></span>
            <span class="palate orange-color" data-theme-file="./tema/orange-theme.css"></span>
            <span class="palate purple-color" data-theme-file="./tema/purple-theme.css"></span>
            <span class="palate teal-color" data-theme-file="./tema/teal-theme.css"></span>
            <span class="palate brown-color" data-theme-file="./tema/brown-theme.css"></span>
            <span class="palate redd-color" data-theme-file="./tema/redd-color.css"></span>
        </div>
    </div>
	
    <a href="#" class="purchase-btn">Purchase now $17</a>
    
    <div class="palate-foo">
        <span>You will find much more options for colors and styling in admin panel. This color picker is used only for demonstation purposes.</span>
    </div>

</div>

<script type="text/javascript" src="js/script.js"></script>

</body>
</html>